.game_nav {
    &-flex {
        width: 100%;
        justify-content: space-between;
        > div {
            flex-shrink: 0;
        }
    }
    .tabs {
        gap: 1rem;
        align-items: center;
        background: White;
        border-radius: 32px;
        padding: 0;
        height: fit-content;
        .tab {
            color: #404040;
            text-align: center;
            font-family: "Euclid Circular A";
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 12px 48px;
            border-radius: 32px;
            background: #fff;
            height: fit-content;
            border: 1px solid #fff;

            &.active {
                border: 1px solid #ff005b;
            }
        }
    }
    .settings {
        gap: 2rem;
        .score,
        .phone,
        .logout {
            gap: 1rem;
            color: #ff005b;
            text-align: center;
            font-family: "Euclid Circular A";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}
